set scrolloff=5

set hlsearch
set incsearch

set ignorecase
set smartcase

set number
set relativenumber

set ideajoin

" Don't use Ex mode, use Q for formatting.
map Q gq

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)
"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

let mapleader = " "
nmap <Esc> :nohlsearch<CR>
vmap J :m '>+1<CR>gv=gv
vmap K :m '<-1<CR>gv=gv
xmap <leader>p \"_dP

nmap <leader>y \"+y
nmap <leader>p \"+p
vmap <leader>y \"+y
vmap <leader>p \"+p

nmap n nzzzv
nmap N Nzzzv

nmap <C-d> <C-d>zz

nmap <A-n> o<Esc>
nmap <A-M> O<Esc>

nmap gJ :action GotoImplementation<CR>

if &ide =~? 'rider'
  nmap <leader>c <Action>(RiderShowIncomingCalls)
else
  nmap <leader>c <Action>(CallHierarchy)
endif
